<div class="main-container divide-solid divide-y">
    <div class="flex flex-col pt-20 pb-32">
        <div class="py-10">
            <h2 class="text-5xl text-center font-bold">Features</h2>
        </div>
        <div class="flex flex-col md:flex-row justify-items-center">
            <div class="flex-1 md:px-2 pt-10 md:pt-0 justify-center">
                <ul class="space-y-1">
                    <li class="font-semibold">Scan ingredient list</li>
                    <li>Automatically found all the additives for you thanks to ML</li>
                    <li class="pt-4 font-semibold">Additives list</li>
                    <li>Scroll and get info about all the additives of our database</li>
                </ul>
            </div>
            <div class="flex-1 md:px-2 pt-10 md:pt-0 justify-center">
                <ul class="space-y-1">
                    <li class="font-semibold">Scan bar code</li>
                    <li>Get the additives thanks to Open Food Fact database</li>
                    <li class="pt-4 font-semibold">Offline support</li>
                    <li>Besides the scan of bar code, the rest of the app works offline</li>
                </ul>
            </div>
        </div>
    </div>
    <div></div>
</div>